.addStoryContainer{
  display: flex;
  justify-content: center;
  padding: 70px 0 14px 0;
}
.addStoryBox {
  width: 600px;
  background-color: #656255;
  padding: 1rem 1rem;

}
.addStoryUF {
  height: 56px;
}
