
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$story-front-primary: mat.define-palette(mat.$indigo-palette);
$story-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$story-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$story-front-theme: mat.define-light-theme((
  color: (
    primary: $story-front-primary,
    accent: $story-front-accent,
    warn: $story-front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($story-front-theme);

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "inter", sans-serif;
  background-color: #FFFBE3;
}
/* Header */
.headerBg,
.mainBtn,
.mainBg,
footer {
  background-color: #656255;

}

.headerBg {
  z-index: 20;
}
.headerLo,
.navbar-brand:hover,
.headerMenu a,
.headerMenu a:focus,
.navbar-toggler,
.navbar-toggler-icon,
.mainBtn {
  color: #FFFBE3;
}
.headerBtn,
.mainRead h1,
.mainRead p,
.mainBg .card,
.sidebarBg a:active,
.sidebarBg a:focus,
.sidebarBg a:hover {
  background-color: #FFFBE3;
  color: #656255;
}
.headerBtn:hover {
  background-color: #FFFBE3;
  opacity: 95%;
  color: #656255;
}
.headerCol {
  max-width: 800px;
}
.headerMenu .nav-link:hover {
  color: #fff;
  opacity: 100%;
}
.sidebarBg a {
  background-color: #656255;
  color: #FFFBE3;
}
/* Main section */
#mainSection > div {
  padding-top: 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.formMessage {
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(101, 98, 85);
  opacity: 50%;
  p {
    margin: 0;
    color: white;
  }
}
