<!-- Main Section start -->
<section id="mainSection">
  <div class="container-fluid ">
    <div class="row mb-5 justify-content-evenly">

      <!--Sidebar start-->
      <div class="col-12 col-md-3 h-100 position-static rounded-0 shadow pe-0 mt-4 list-group sidebarBg">
        <a href="#" class="list-group-item fw-semibold list-group-item-action" aria-current="true">
          Action and Adventure
        </a>
        <a href="#" class="list-group-item fw-semibold  list-group-item-action">Classics</a>
        <a href="#" class="list-group-item fw-semibold  list-group-item-action">Detective and Mystery</a>
        <a href="#" class="list-group-item fw-semibold  list-group-item-action">Historical Fiction</a>
        <a href="#" class="list-group-item fw-semibold  list-group-item-action">Horror</a>
        <a href="#" class="list-group-item fw-semibold  list-group-item-action">Comic books</a>
      </div>
      <!--Sidebar end-->

      <!--Main start-->
      <div class="col-12 col-md-8 pt-3 px-3 row justify-content-evenly shadow mt-4 mainBg">
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">1984</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a routerLink="story" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/animal_farm.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Animal Farm</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/harry-potter.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Harry Potter</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/origin.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Origin</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/origin.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Origin</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/harry-potter.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Harry Potter</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/animal_farm.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Animal Farm</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>

        <div class="card mb-3 col-10 col-sm-6 col-lg-4 col-xl-3 p-2 rounded-0">
          <img src="../img/1984.jpg" class="card-img-top rounded-0" alt="Book Photo">
          <div class="card-body">
            <h5 class="card-title fw-semibold">1984</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="reading.html" class="btn w-100 fw-semibold rounded-0 mainBtn">Read now</a>
          </div>
        </div>
      </div>
      <!--Main end-->
    </div>
  </div>
</section>
<!-- Main Section end -->
