.formBox {
  background-color: #656255;
  padding: 2.5rem 1rem;
  max-width: 400px;
  margin: auto;
}
.formContainer {
  padding: 56px 0;
}
.formTitle {
  color: #656255;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
